<h1>Fantasy Football Lineup Generator</h1>
<hr>
<h4><%= @dataset.name %></h4>

<table class="table sortable">
  <thead>
    <tr>
      <th colspan="2">Player</th>
      <th colspan="2">Position</th>
      <th colspan="2">Salary</th>
      <th colspan="2">Projected Points</th>
      <th colspan="2">Value</th>
    </tr>
  </thead>
  <tbody>
    <% @dataset.players.each do |player| %>
      <tr>
        <td colspan="2"><%= player.name %></td>
        <td colspan="2"><%= player.position %></td>
        <td colspan="2">$<%= player.salary %></td>
        <td colspan="2"><%= player.projected_points %></td>
        <td colspan="2"><%= player.price_per_point %></td>
      </tr>
    <% end %>
  </tbody>
</table>

