<!DOCTYPE html>
<html>
<head>
  <title>DailyFantasySports</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !flash[:notice].blank? %>
  <div>
    <h3><%= flash[:notice] %></h3>
  </div>
<% end %>

<%= yield %>

</body>
</html>
